body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
    width:100%;
}

th, td {
    border: 1px solid gray;
    padding:8px;
}

a {
    padding: 5px 10px;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 5px;
}
